.placeOurderInfoOuter{
    width:100%;
    display:inline-block;
    padding:30px 0px;
}
.topContentInfo{
    width:100%;
    display:inline-block;
    text-align:center;
}
.logoCenter img{
  max-width:200px;
}
.topContentInfo h2{
  font-weight:700;
  font-size:14px;
  line-height:14px;
  color:rgba(255, 255, 255, 1);
  margin:20px 0px 20px;
}
.topContentInfo h3{
    font-weight:700;
    font-size:14px;
    line-height:14px;
    color:rgba(255, 255, 255, 1);
    margin:0px 0px 20px;
}
.topContentInfo p{
    font-size:14px;
    line-height:14px;
    color:rgba(255, 255, 255, 1);
    margin:0px 0px 10px;
}
.topContentInfo p span{
    vertical-align: middle;
    position: relative;
    top: -4px;
    font-size: 19px;
    margin-right: 4px;
}
.innerCardInfo{
    max-width:340px;
    margin:0 auto;
}
.innerCardInfo textarea{
    padding: 10px;
    background-color: #fff;
    outline: none;
    width: 100%;
    min-height:150px;
    resize:none;
}
.rowInput{
    width:100%;
    display:inline-block;
    margin-bottom:15px;
}
 .rowInput input{
    padding:10px;
    background-color:#fff;
    outline:none;
    width:100%;
}
.topContentInfo p .nav-link{
    display:inline;
}
.submit .btnIngo{
    padding: 11px 38px;
    box-shadow: 0px 25px 20px -20px rgb(213 213 213);
}
.rowInput textarea{
    background-color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23px;
    min-height:240px;
    outline: none;
    padding: 27px 10px 10px;
    resize: none;
    text-align: left;
    width: 100%;
}
.noteData{
    width:100%;
    display:inline-block;
    padding:0px 100px;
    box-sizing: border-box;
}
.noteData p{
    color:#fff;
    text-align:left;
    font-weight:400;
    font-size:12px;
    line-height:20px;
    margin:0px;
}
.nrwTxt h4{
    text-align: center;
    font-weight:700;
    font-size:20px;
    line-height:20px;
    color:#fff;
    margin:0px 0px 15px;
}
.rowInputAddress{
    width:100%;
    display:inline-block;
    margin-bottom:15px;
}
.rowInputAddress input {
    line-height: 23px;
    min-height: 120px;
    outline: none;
    padding: 27px 10px 10px;
    resize: none;
    text-align: left;
    width: 100%;

}
.rowInput label{
    display:block;
}
.react-datepicker-wrapper{
    width:100%;
}
.rowInput input::-webkit-outer-spin-button,
.rowInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.rowInput input[type=number] {
    -moz-appearance: textfield;
  }
  .termsData label{
    color:#fff;
  }
  @media screen and (max-width:767px) {
    .noteData{
        padding:0px;
    }
    .innerCardInfo{
        max-width:100%;
    }
    .rowInput label{
        width:100%;
        text-align:left;
    }
  }
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .noteData{
        padding:0px !important;
    }
    .innerCardInfo{
        max-width:100% !important;
    }
    .formDataInnerInfo .col-sm-4{
        width:100%;
    }
    .howItWork img{
        width:100% !important;
    }
}