
.meetOurFounder{
    width:100%;
    display:inline-block;
}
.headingInfo{
    width:100%;
    display:inline-block;
    padding:40px 0px;
    background:#000;
}
.headingInfo h3{
    font-weight:400;
    font-size:17px;
    line-height:25px;
    text-align:center;
    color:#fff;
    position: relative;
}
.headingInfo h3:after{
    content:'';
    position: absolute;
    width:75px;
    height:1px;
    background:#FFFFFF;
    margin:0 auto;
    left:0;
    right:0;
    bottom:-12px;
}
.headingInfo.bookNow p{
    margin-top: 5px;
    color: #fff;
    font-weight: 600;
    line-height: 32px;
}
.formDataIn{
    margin-bottom:50px;
}
.formInfoNewRow{
    width:100%;
    display:inline-block;
    margin: 20px 0px 30px;
}
.formInfoNewRow h3{
    color: #fff;
    font-size: 16px;
    margin: 15px 0 20px;
    font-weight:600;
    text-align:left;
}
.formInfoNewRow label{
    color:#fff;
    text-align:left;
    margin:0px 0px 6px;
    display: block;
}
.formInfoNewRow.text-left{
    text-align:left;
    margin-top:0;
}
.formInfoNewRow input{
    padding:8px 15px;
}
.formInfoNewRow select{
    padding:8px 15px;
}