.header-top {
    width: 100%;
    display: inline-block;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .2784313725490196);
    position:sticky;
    top:0;
    z-index:99;
}
.header-top .bg-light {
    background: #fff !important;
    width: 100%;
    box-sizing: border-box;
    padding:0px;
}
.header-top .bg-light .navbar-brand {
    margin-right: 2rem;
    padding:0 !important;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.navbar-brand img{
    max-width:100px;
}
.nav-item a{
 font-weight:600;
 padding: 28px 15px !important;
 transition:0.5s ease;
}
.nav-item a:hover{
    color:#fff !important;
    background:#014C56;
}
.header-top .dropdown-menu .dropdown-item {
    color: #fff;
    padding: 10px !important;
    font-weight: 400;
}
.header-top .dropdown-item {
    border-bottom: 1px solid #4f5d6e;
    padding: 10px 20px;
}
.header-top .dropdown-menu {
    left: 0;
    margin-top: -2px;
    background-color: #014C56;
    padding: 0;
    box-shadow: 0 0 2px #ccc;
    transition: opacity .5s ease .1s;
}
.header-top .navbar .nav-item.dropdown:hover {
    color: #fff;
    background: #014C56;
}
.header-top .navbar .nav-item.dropdown:hover .nav-link, .header-top .navbar .nav-item.dropdown:hover a {
    color: #fff;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block !important;
}
.header-top .dropdown-item:hover {
    background: rgba(0, 0, 0, .47058823529411764);
    color: #fff;
    outline: none;
}
.header-top .navbar .nav-item.dropdown:hover .nav-link, .header-top .navbar .nav-item.dropdown:hover a {
    color: #fff;
}
.header-top-inr {
    padding: 6px 0;
    color: #8d8a7b;
    font-size: 13px;
    background:#014C56;
    border-bottom: 1px solid #f4f4f2;
    display: inline-block;
    width: 100%;
    float: left;
}
.header-top-inr ul{
    margin:0px;
}
.header-top-inr ul li a{
    color:#fff;
    text-decoration:none;
}
.header-top-inr ul li{
    color:#fff;
}
.header-top-inr .pull-right{
    color:#fff;
}
.navbar-expand-lg .navbar-collapse{
    border-left: 10px solid #014C56;
    border-radius: 119px 0px 0px 0px;
}