
.meetOurFounder{
    width:100%;
    display:inline-block;
}
.headingInfo{
    width:100%;
    display:inline-block;
    padding:40px 0px;
    background:#000;
}
.headingInfo h3{
    font-weight:400;
    font-size:17px;
    line-height:25px;
    text-align:center;
    color:#fff;
    position: relative;
}
.headingInfo h3:after{
    content:'';
    position: absolute;
    width:75px;
    height:1px;
    background:#FFFFFF;
    margin:0 auto;
    left:0;
    right:0;
    bottom:-12px;
}
.infoDataMeet{
    width:100%;
    display:inline-block;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9780287114845938) 0%, rgba(0,0,0,0.3925945378151261) 48%, rgba(0,0,0,1) 100%);
}



.indivialCleaning img {
    max-width: 520px;
    margin-top: 25px;
}
.linerInfo{
    width: 350px;
    height: 1px;
    background: #FFFFFF;
    margin: 0 auto;
    display: inline-block;
}
.washingLiner{
    width:163px;
    height: 1px;
    background: #FFFFFF;
    margin: 0 auto;
    display: inline-block; 
}
.washingLinerBottom{
    width: 170px;
    height: 1px;
    background: #FFFFFF;
    margin: 0 auto;
    display: inline-block; 
}
.uvSter{
    width:100%;
    display:inline-block;
    background: url(../../public/images/bggif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px 0px 80px;
    border-top:1px solid #fff;
}
.centerMax{
    max-width:607px;
    margin:0 auto;
}
.customScenting{
    width:100%;
    display:inline-block;
    background: url(../../public/images/spray.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding:60px 0px;
    border-top:1px solid #fff;
}
.customScenting h4{
    text-align:center;
    font-weight:600;
    font-size:30px;
    line-height:30px;
    color:#fff;
    margin:0px 0px 40px;
}
.customScenting p{
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    margin: 0px 0px 30px;
}
.cntInfoCus {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:50px 0px 0px;
}
.leftCbtText{
    width:500px;
    text-align:left;
}
.leftCbtText h2{
   font-weight:600;
   color:#fff;
   line-height:106px;
   font-size:71px;
   margin-top: -45px;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #014C56;
}
.carousel-indicators [data-bs-target]{
    height:8px;
}
.outerTrustedPartner {
    width: 100%;
    display: inline-block;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .1);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding:45px 40px 40px;
    margin-bottom: 70px;
    border-radius:0px 0px 50px 50px;
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon{
    filter:inherit !important;
}
.outerTrustedPartner .contentInfoDataStay {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.contentInfoDataStay h1{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    
    font-style:italic;
}
.outerTrustedPartner .contentInfoDataStay .contentsty p {
    font-size: 16px;
    margin: 0;
    text-align: left;
    color: #666;
}
.outerTrustedPartner .contentInfoDataStay .bookingInfo {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    overflow: hidden;
    border: 1px solid #014C56;
    background-color: #014C56;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 16px 10px;
    border-radius: 55px;
    min-width: 207px;
    font-size: 18px;
    transition:0.5s ease;
    font-weight:600;
    
}
.outerTrustedPartner .contentInfoDataStay .bookingInfo:hover{
    box-shadow:0px 0px 100px #ccc;
    background:none;
    color:#014C56;
}
.outerSectionIonfoData{
    width:100%;
    display:inline-block;
    background:#000;
    position: relative;
}
.how-it-works .flex-row{
    display:flex;
    justify-content:space-between;
    gap:20px;
    flex-wrap: wrap;
}
.how-it-works .flex-row .col-xs-12.col-sm-6.col-md-4.flex-item{
    width: 31%;
    padding: 10px;
    box-sizing: border-box;
}
.hw-item h3 {
    font-size: 25px;
    margin: 32px 0 20px;
    color: #fff;
    
}
.section-grids {
    padding: 80px 0 50px;
    text-align: center;
    background:#fbfbfb;
}
.section-grids h2 {
    margin-bottom: 60px;
    color:#014C56;
    
}
.section-title {
    font-size: 50px;
    line-height: 1;
    margin: 0 0 15px;
}
.white-card {
    background: #fff;
    margin-bottom: 30px;
    padding: 55px 35px 35px;
    font-size: 15px;
    box-shadow: 0 7px 9px 0 rgba(39, 14, 102, .14);
    min-height: 500px;
    border-radius: 14px;
}
.white-card img{
    max-width:80px;
}
.white-card h3 {
    font-size: 20px;
    margin: 20px 0 20px;
    color: #000;
    
}
.section-grids .flex-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    align-items:end;
}
.white-card.flex-inner p{
    font-size:16px;
    color:#fff;
    font-style: italic;
}
.hw-item img{
    border-radius:100%;
    box-shadow: 0px 0px 10px #666;
    height:100px;
    width:100px;
}
.hw-item{
    color:#fff;
    font-style: italic;
}
.outerSectionIonfoData img{
    max-width:100%;
    border-top:1px solid #fff;
}
@media screen and (max-width:767px) {
    .how-it-works .flex-row .col-xs-12.col-sm-6.col-md-4.flex-item{
        width:100%;
    } 
    .leftCbtText{
        margin:0px;
    }
}
