
.meetOurFounder{
    width:100%;
    display:inline-block;
}
.headingInfo{
    width:100%;
    display:inline-block;
    padding:40px 0px;
    background:#000;
}
.headingInfo h3{
    font-weight:400;
    font-size:17px;
    line-height:25px;
    text-align:center;
    color:#fff;
    position: relative;
}
.headingInfo h3:after{
    content:'';
    position: absolute;
    width:75px;
    height:1px;
    background:#FFFFFF;
    margin:0 auto;
    left:0;
    right:0;
    bottom:-12px;
}
.infoDataMeet{
    width:100%;
    display:inline-block;
    background: url(../../public/images/seperate/img1.png);
    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9780287114845938) 0%, rgba(0,0,0,0.3925945378151261) 48%, rgba(0,0,0,1) 100%); */
    
}
.meetOwnerInfo{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.text-center.bor{
    border-top: 1px solid #fff;
    padding:10px 0px;
    border-bottom: 1px solid #fff;
}
.text-center.bor p{
    margin:0px;
    font-size:17px;
    line-height:43px;
    color:#fff;
}
.meetOwnerInfo p{
    font-weight:400;
    color:#fff;
    line-height: 18px;
    margin: 0 0 10px;
    text-align: left;
    font-size: 12px;
}
.jaiSainInfo{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: end;
    padding-bottom: 15px;
}
.meetOwnerInfo p b{
    font-weight:600;
}
.jaiSainInfoImg{
    padding:0px 10px;
}
.infoDataMeet p{
    color:#fff;
}
.indivialCleaning{
    width:100%;
    display:inline-block;
    margin:30px 0px 0px;
}
.indivialCleaning h4{
    font-weight:600;
    font-size:30px;
    line-height:30px;
    color:#fff;
    margin:0px 0px 5px;
}
.indivialCleaning p{
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    color: #fff;
    margin: 10px 0px 0px;
}
.indivialCleaning img {
    max-width: 520px;
    margin-top: 25px;
}
.linerInfo{
    width: 350px;
    height: 1px;
    background: #FFFFFF;
    margin: 0 auto;
    display: inline-block;
}
.washingLiner{
    width:66px;
    height: 1px;
    background: #FFFFFF;
    margin: 0 auto;
    display: inline-block; 
}
.washingLinerBottom{
    width: 170px;
    height: 1px;
    background: #FFFFFF;
    margin: 0 auto;
    display: inline-block; 
}
.uvSter{
    width:100%;
    display:inline-block;
    background: url(../../public/images/bggif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px 0px 80px;
}
.centerMax{
    max-width:607px;
    margin:0 auto;
}
.customScenting{
    width:100%;
    display:inline-block;
    background: url(../../public/images/spray.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding:60px 0px;
}
.customScenting h4{
    text-align:center;
    font-weight:600;
    font-size:30px;
    line-height:30px;
    color:#fff;
    margin:0px 0px 40px;
}
.customScenting p{
   font-weight:400;
   color:#fff;
   line-height:44px;
   font-size:22px;
   margin:0px 0px 30px;
}
.cntInfoCus {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:50px 0px 0px;
}
.leftCbtText{
    width:500px;
    text-align:left;
}
.leftCbtText h2{
   font-weight:600;
   color:#fff;
   line-height:106px;
   font-size:71px;
}
.indivialCleaning.uv img{
    max-width:327px;
}
.pd-l{
    width:100%;
    display:inline-block;
    box-sizing: border-box;
    padding:0px 20px;
    box-sizing: border-box;
}
.meetOwnerInfo{
    background: url(../../public/images/about.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:767px) {
    .meetOwnerInfo{
        display:inline-block;
    }
    .jaiSainInfoImg img{max-width:100%;}
    .indivialCleaning img, .indivialCleaning.uv img{
        max-width:100% !important;
    }
    .leftCbtText h2{
        font-size:40px !important;
        line-height: 68px !important;
    }
    .leftCbtText h2 br{
        display:none;
    }
}