
.pricingBannerInfo{
    width:100%;
    display:inline-block;
    padding:0px 0px 40px;
}
.priceBnrN{
    width:100%;
    display:inline-block;
    background: url(../../public/images/price.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:40px 0px; 
}
.pricingBnr {
    width:100%;
    display:inline-block;
    text-align:left;
}
.pricingBnr h2{
    font-weight:600;
    font-size:70px;
    line-height:91px;
    color:#fff;
    margin:0px 0px 60px;
}
.pricingBnr p{
    font-weight:600;
    font-size:35px;
    line-height:36px;
    color:#fff;
    margin:0px;
}
.browswPrices{
    width:100%;
    display:inline-block;
    margin:40px 0px;
    text-align:center;
}
.browswPrices a{
    display: inline-block;
    background: linear-gradient(90deg, rgb(52 47 47) 8%, rgba(204, 204, 204, 1) 100%);
    padding: 10px 16px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
}
.downArrow{
    width:100%;
    display:inline-block;
    margin-top:30px;
}
.downArrow img{
    max-width:38px;
}
.pricedataManin{
    width:100%;
    display:inline-block;
    border-top:1px solid #fff;
    padding:50px 0px 28px;
}
.offerInfo{
    width:100%;
    display:inline-block;
}
.offerInfo h3{
    text-align:center;
    color:#fff;
    font-weight:700;
    text-transform:uppercase;
    font-size:30px;
    margin:0px 0px 30px;
}
.cardPriceInfo{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    flex-wrap: wrap;
}
.cardDataNew{
    width:48%;
    text-align:left;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.leftCardNew{
    border:2px solid #ccc;
    border-radius:4px;
    background:#fff;
    width:74%;
}
.cardDataNew table{
    width:100%;
    border-collapse: collapse;
}
.cardDataNew table tr td{
    border:1px solid #000;
    font-weight:700;
    text-align:center;
    background:#fff;
}
.cardDataNew table tr td.bgData{
    padding:10px;
    background: linear-gradient(90deg, rgba(132,107,251,1) 50%, rgba(101,199,235,1) 100%);
}
.leftCardNew:nth-child(1){
    width:24%;
}
.cardDataNew table tr td p{
    margin:0;
    font-weight:400;
    font-size:12px;
}
.cntdatanew{
    width:100%;
    display:inline-block;
    text-align:center;
    margin: 30px 0px 10px;
}
.cntdatanew p{
    color:#fff;
    font-size:16px;
    margin:0px;
}
.IndivusualInfo{
    width:100%;
    display:inline-block;
    margin-top:30px;
    padding: 0px 130px;
    box-sizing: border-box;
}
.IndivusualInfo h3{
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    margin:0;
}
.IndivusualInfo p{
    margin:5px 0 40px;
    font-weight:400;
    font-size:12px;
    text-align:center;
    color:#fff;
}
.IndivusualInfo table{
    width:100%;
    border-collapse:collapse;
}
.IndivusualInfo table tr td{
    font-weight:600;
    font-size:14px;
    padding:10px;
    border:1px solid #fff;
    color:#fff;
    text-align:left;
}
.bookNowInfo{
    width:100%;
    text-align:center;
    margin:70px 0px 70px;
}
.bookNowInfo img{
    max-width:346px;
}
.tearmsCondition{
    width:100%;
    display:inline-block;
}
.tearmsCondition p{
    font-weight:200;
    font-size:18px;
    color:rgba(255, 255, 255, 1);
    text-align:left;
}
.tearmsCondition h4{
    color:#fff;
    text-align:left;
    margin:0px 0px 20px;
    font-weight:700;
}